html{
    box-sizing: border-box;
}
*, ::after ,::before{
    box-sizing: inherit;
}


.body{
    font-family: "Roboto", "bezszeryfowa";
    background-color: rgb(88, 88, 88);
    /* background-image: url("../images/money-g39302fac1_1920.png"); */
}
